SERVICE_NAME=study-match.service
STORAGE_ROOT=/srv/study-match-data
STAGING_PARENT=/var/tmp
RESTIC_CACHE_DIR=/var/cache/restic
RESTIC_REPOSITORY=s3:https://s3.eu-central-003.backblazeb2.com/REPLACE_WITH_BUCKET
RESTIC_PASSWORD_FILE=/etc/study-match/restic-password
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
BETTER_STACK_SUCCESS_URL=
BETTER_STACK_FAILURE_URL=
BETTER_STACK_RESTORE_SUCCESS_URL=
